body
{
	background-color: #DCDCDC;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

h1
{
	color: black;
	font-family:Trebuchet, Helvetica, sans-serif;
	font-size: 30px;
}

